.video-js .vjs-control:hover:before, .video-js .vjs-control:focus:before, button.vjs-button:hover{
	text-shadow: 0 0 1em rgb(0, 188, 140); /*for ie8*/
	text-shadow: 0 0 1em rgba(0, 188, 140, 1);
}		
.video-js .vjs-volume-level, .video-js .vjs-slider-bar{
	background-color: rgba(0, 188, 140); /*for ie8*/
	background-color: rgba(0, 188, 140, .9);
}
.video-js .vjs-menu-button-inline.vjs-slider-active,.video-js .vjs-menu-button-inline:focus,.video-js .vjs-menu-button-inline:hover,.video-js.vjs-no-flex .vjs-menu-button-inline {
	width: 10em
}

.video-js .vjs-controls-disabled .vjs-big-play-button {
	display: none!important
}

.video-js .vjs-menu-button-inline:before {
	width: 1.5em
}

.vjs-menu-button-inline .vjs-menu {
	left: 3em
}

.vjs-paused.vjs-has-started.video-js .vjs-big-play-button,.video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button {
	display: block
}

.video-js .vjs-load-progress div,.vjs-seeking .vjs-big-play-button,.vjs-waiting .vjs-big-play-button {
	display: none!important
}

.video-js .vjs-mouse-display:after,.video-js .vjs-play-progress:after {
	padding: 0 .4em .3em
}

.video-js.vjs-ended .vjs-loading-spinner {
	display: none;
}

.video-js.vjs-ended .vjs-big-play-button {
	display: block !important;
}

video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button,.vjs-paused.vjs-has-started.video-js .vjs-big-play-button {
	display: block
}

.video-js:hover .vjs-big-play-button,.video-js .vjs-big-play-button:focus,.video-js .vjs-big-play-button:active {
	background-color: rgba(0,188,140,0.6)
}

.video-js .vjs-loading-spinner {
	border-color: rgba(0,188,140,0.8)
}

.video-js .vjs-control-bar2 {
	background-color: #000000
}

.video-js .vjs-control-bar {
	background-color: rgba(0,0,0,0.6) !important;
	color: rgba(0,188,140,0.9);
	font-size: 12px
}

.video-js .vjs-play-progress,.video-js  .vjs-volume-level {
	background-color: rgba(0,188,140,0.8)
}
